@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #110E1B;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ---------------- Box 1 ---------------- */

.box1 {
    width: 40%;
    color: white;
    padding: 30px;
}

/* ---------------- Logo and logo name details and customizations ---------------- */

.logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-width: 100%;
    overflow: hidden;
}

.logo-img img {
    width: 100px;
    height: auto;
}

.logo-name {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 14px;
}

/* hr custom */

.box1 hr {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 2px;
    width: 500px;
    margin: auto;
}

/* ---------------- text ---------------- */

.box1-text {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

/* ---------------- happy image ---------------- */

.happy-img {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.happy-img img {
    max-width: 100%;
    margin: auto;
}

/* ---------------- Box 2 details and customization ----------------  */

.box2 {
    width: 60%;
    color: white;
}

.transparency-div {
    width: 90%;
    height: 100%;
    background: rgba(21, 21, 21, 0.35);
    box-shadow: 0 4px 30px rgba(105, 97, 255, 0.27);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 2px solid rgba(105, 97, 255, 0.27);
    border-top: 0;
    border-bottom: 0;
}