@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #110E1B;
    /* background: linear-gradient(to right, #645fc4, #1f1c61); */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ---------------- Box 1 ---------------- */

.box1 {
    width: 40%;
    color: white;
    padding: 30px;
}

/* ---------------- Logo and logo name details and customizations ---------------- */

.logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-width: 100%;
    overflow: hidden;
}

.logo-img img {
    width: 100px;
    height: auto;
}

.logo-name {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 14px;
}

/* hr custom */

.box1 hr {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 2px;
    width: 500px;
    margin: auto;
}

/* ---------------- text ---------------- */

.box1-text {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

/* ---------------- happy image ---------------- */

.happy-img {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.happy-img img {
    max-width: 100%;
    margin: auto;
}

/* ---------------- Box 2 details and customization ----------------  */

.box2 {
    width: 60%;
    color: white;
}

.transparency-div {
    width: 90%;
    height: 100%;
    background: rgba(21, 21, 21, 0.35);
    box-shadow: 0 4px 30px rgba(105, 97, 255, 0.4);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 3px solid rgba(105, 97, 255, 0.3); 
    border-top: 0;
    border-bottom: 0;
    padding: 30px;
}

/* ---------------- form ----------------  */

fieldset {
    border: none;
}

#checkbox-lbl {
    font-size: 18px;
    margin: 20px auto 10px auto;
}

input {
    accent-color: #6C63FF;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

fieldset label {
    display: block;

    margin: 0.5em 0;

    font-size: 26px;
    font-weight: 600;
    color: white;
}

fieldset .user {
    width: 100%;
    padding: 10px 20px;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 2px solid #f4f4f4;
    color: #6C63FF;
    font-size: 18px;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}


.btn-submit input {
    width: 50%;
    padding: 20px;
    background: #6C63FF;
    font-weight: 700;
    font-size: 23px;
    color: white;

    box-shadow: 0px 5px 20px #6C63FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.7;
}

.btn-submit input:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* footer */

.footerContainer {
    width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom, #6C63FF, #1f1c61);
    padding: 70px;
}

.socialIcon {
    display: flex;
    justify-content: center;
}

.socialIcon a {
    text-decoration: none;
    padding: 10px;
    background-color: #1f1c61;
    margin: 10px;
    border-radius: 50%;
    opacity: 0.7;
}

.socialIcon a:hover {
    opacity: 1;
}

.socialIcon a i {
    font-size: 3em;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a {
    color: rgb(255, 255, 255);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    text-align: center;
}

.footerBottom p {
    color: rgb(255, 255, 255);
}

/* link login */

.link-login {
    text-align: center;
    margin-top: 40px;

    font-size: 20px;
}

.link-login a {
    text-decoration: none;
    color: #6C63FF;
    font-size: 23px;
    font-weight: bold;
}

.link-login a:hover {
    color: #706bdf;
}